<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Tahereh mahi</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Hello world.</a></h1>
				<span class="tag"></span>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	
	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section style="font-family:">
				<blockquote>&ldquo;
                زندگی موسیقیِ گنجشک هاست زندگی باغِ تماشایِ خداست...

زندگی یعنی همین پروازها

صبح ها،لبخندها

آوازها... 
                .&rdquo;</blockquote>
			</section>
		</div>
	</div>


<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</header>
<ul class="contact">
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
			</ul>
            <section id="contact" class="main style3 secondary">
				<div class="content container">
					<div class="box container 75%">

					<!-- Contact Form -->
							<form method="post" action="#">
								
									<input type="text" name="name" placeholder="Name" />
									<input type="email" name="email" placeholder="Email" />
								
								<p>
									<textarea name="message" placeholder="Message" rows="6"></textarea></p>
								
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="button" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>

					</div>
				</div>
			</section>
			
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		Email: <a href="http://templated.co">tahereh.mahi@gmail.com</a>
	</div>
</div>

</body>
</html>
